<ul
  class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="#"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-fire-alt"></i>
    </div>
    <div class="sidebar-brand-text mx-3 nav-link-menu">Admin Dashboard</div>
  </a>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-home"></i>
      <span class="nav-link-menu">Dashboard</span></a>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">
    Menu
  </div>
  <li class="nav-item active">
    <a class="nav-link" href="/users">
      <i class="fas fa-user-astronaut"></i>
      <span class="nav-link-menu">Users</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/games">
      <i class="fab fa-xbox"></i>
      <span class="nav-link-menu">Games</span></a>
  </li>
  <hr class="sidebar-divider d-none d-md-block" />
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>