<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xl font-weight-bold text-gray-800 text-uppercase mb-1"
            >
              Total Users</div>
            <div
              class="h5 mb-0 font-weight-bold text-gray-800"
            >{{userCount}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-tie fa-3x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xl font-weight-bold text-gray-800 text-uppercase mb-1"
            >
              Total Games Played</div>
            <div
              class="h5 mb-0 font-weight-bold text-gray-800"
            >{{countJunction}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gamepad fa-3x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xl font-weight-bold text-gray-800 text-uppercase mb-1"
            >Total Games Room</div>
            <div
              class="h5 mb-0 font-weight-bold text-gray-800"
            >{{gamesRoomCount}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-door-open fa-3x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>