<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card mb-5">
      <div class="card-header">
        <a href="/users" class="btn btn-md btn-secondary"><i
            class="fas fa-chevron-left"
          ></i></a>
      </div>
      <div class="card-body">
        <form class="" action="/games/create" method="POST">
          <label class="form-group">Room Name</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Room Name"
              name="room"
            />
          </div>

          <label class="form-group">Choice</label>
          <div class="form-group">
            <select name="choice" class="form-control">
              <option selected disabled>Choose Your Choice</option>
              <option value="Gunting">Gunting</option>
              <option value="Kertas">Kertas</option>
              <option value="Batu">Batu</option>
            </select>
          </div>

          <label class="form-group">Winner</label>
          <div class="form-group">
            <select name="winner" class="form-control">
              <option selected disabled>Who's winner?</option>
              {{#each userData}}
                <option value="{{username}}">{{username}}</option>
              {{/each}}
            </select>
          </div>

          <label class="form-group">History</label>
          <div class="form-group">
            <input type="date" class="form-control" name="history" />
          </div>

          <button type="submit" class="btn btn-primary float-right">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>